.menu-light {
    &.ant-menu-light .ant-menu-item {
        color: #fff !important;
    }
}
.menu-night {
    &.ant-menu-light .ant-menu-item {
        color: var(--custom-gray) !important;
    }
}
.languages-text-light {
    color: #fff;
}
.languages-text-night {
    color: var(--custom-gray);
}

// .rotate-180-plain {
//     transform: rotate(180deg);
// }

// .transition-transform {
//     transition-property: transform;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 150ms;
// }

// .duration-300 {
//     transition-duration: 300ms;
// }

// 选择语言面板
.change-languages-panel {
    width: 80vw;
    padding: 70px;
    .title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 45px;
    }
    .content {
        font-size: 20px;
        line-height: 1.5;
        .content-item {
            width: 180px;
            cursor: pointer;
            &.selected {
                color: var(--custom-green); // 可根据需要修改选中状态的样式
            }
        }
    }
}
