.menu-light {
    &.ant-menu-light .ant-menu-item {
        color: #fff !important;
    }
}
.menu-night {
    &.ant-menu-light .ant-menu-item {
        color: var(--custom-gray) !important;
    }
}
.languages-text-light {
    color: #fff;
}
.languages-text-night {
    color: var(--custom-gray);
}

// 选择语言面板
.change-languages-panel {
    // width: 80vw;
    padding: 0 8px;
    .title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 45px;
    }
    .content {
        font-size: 16px;
        line-height: 1.5;
        color: var(--custom-gray);
        .content-item {
            // width: 180px;
            cursor: pointer;
            &.selected {
                color: var(--custom-green); // 可根据需要修改选中状态的样式
            }
        }
    }
}
