.menu-light {
    &.ant-menu-light .ant-menu-item {
        color: #fff !important;
    }
}
.menu-night {
    &.ant-menu-light .ant-menu-item {
        color: var(--custom-gray) !important;
    }
}
.languages-text-light {
    color: #fff;
}
.languages-text-night {
    color: var(--custom-gray);
}

// .rotate-180-plain {
//     transform: rotate(180deg);
// }

// .transition-transform {
//     transition-property: transform;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 150ms;
// }

// .duration-300 {
//     transition-duration: 300ms;
// }
