.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 90px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

// Logo
.logo {
    width: 197px;
    height: 26px;
}

// 菜单
.menu {
    position: relative;

    .link {
        display: inline-block;
        padding: 21px 18px 15px;
        color: #7f8085;
        font-size: 20px;
        line-height: 28px;
        border-bottom: 6px solid transparent;

        &:hover {
            color: #103675;
        }

        &.active {
            color: #103675;
            border-bottom-color: #103675;
        }
    }

    // 二级菜单
    .submenu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        display: none;
        background: #ffffff;
        border-top: 1px solid #bdbdbd;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        .sublink {
            display: inline-block;
            padding: 14px 0 10px;
            color: #7f8085;
            font-size: 16px;
            line-height: 28px;
            border-bottom: 4px solid transparent;

            &:hover {
                color: #103675;
            }

            &.active {
                color: #103675;
                border-bottom-color: #103675;
            }
        }
    }

    .link:hover + .submenu,
    .submenu:hover {
        display: block;
    }
}

// 语言
.language {
    color: #7f8085;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}
