.title-small {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: var(--custom-blue);
    padding-bottom: 6px;
    border-bottom: 1px solid var(--custom-green);
}
