// 使命
.mission-wrapper {
    height: 100%;
    padding: 0 90px !important;
    border-right: 1px solid #fff;
    color: #fff;

    &.br-0 {
        border-right: none;
    }

    .title {
        font-size: 52px;
        font-weight: 600;
        line-height: 88px;
    }

    .description {
        margin-top: 40px;
        font-size: 18px;
        line-height: 26px;
        overflow-wrap: break-word;
        word-break: break-all;
    }
}

// 公司简介
.intro {
    padding: 0 200px;
    background-color: #f9fbff;

    .bg {
        height: 100vh;
        background: url('/static/about-us/bg_intro.png') no-repeat top center;
    }

    .title {
        color: #103675;
        font-size: 40px;
        font-weight: 600;
        line-height: 53px;
    }

    .subtitle {
        color: #2dafb7;
        font-size: 28px;
        line-height: 33px;
    }

    .description {
        margin-top: 18px;
        color: #969696;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }

    .history-btn {
        display: inline-block;
        margin-top: 24px;
        margin-left: auto;
        width: 141px;
        height: 36px;
        background: #2dafb7;
        border-radius: 42px;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        color: #f9fbff;
        border: none;
        cursor: pointer;
    }
}

// 全球布局
.globalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it stays behind other content */
}

.global {
    height: 100vh;

    .t1,
    .t2,
    .t3 {
        display: flex;
        align-items: center;
        gap: 16px;
        color: #2dafb7;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        cursor: pointer;

        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #2dafb7;
        }
    }

    .t2 {
        span {
            background-color: #8fffcc;
        }
    }

    .t3 {
        span {
            background-color: rgba(45, 175, 183, 0.3);
            border: 1px solid #2dafb7;
        }
    }

    .title {
        color: #ffffff;
        font-size: 36px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;
    }

    .description {
        margin-top: 15px;
        color: #2dafb7;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
}

.global-popover,
.global-popover2,
.global-popover-white {
    background: rgba(16, 54, 117, 0.7) !important;
    border: 1px solid #2dafb7 !important;
    border-radius: 8px !important;

    div > div {
        color: #2dafb7 !important;
        font-size: 14px !important;
        line-height: 22px !important;

        span {
            margin-right: 12px;
            color: #fff !important;
            font-size: 18px !important;
        }
    }
}

.global-popover2 {
    div > div {
        color: #fff !important;
    }
}

.global-popover-white {
    background: rgba(255, 255, 255, 0.9) !important;
    border: 0 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;

    div > div {
        color: #103675 !important;

        span {
            color: #103675 !important;
        }
    }
}

// 协作共赢 改为 绿色发展
.cooperation {
    .bg1,
    .bg2,
    .bg3 {
        height: 100vh;
        background: url('/static/about-us/bg_cooperation_1.jpg') no-repeat center / cover;
    }

    .bg2 {
        background-image: url('/static/about-us/bg_cooperation_2.png');
    }

    .bg3 {
        background-image: url('/static/about-us/bg_cooperation_3.png');
    }

    .title {
        color: #ffffff;
        font-size: 48px;
        font-weight: 600;
        line-height: 63px;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        color: #ffffff;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        text-transform: uppercase;
    }
}

// ESG
.esg-btn {
    position: absolute;
    left: 50%;
    bottom: 190px;
    transform: translateX(-50%); /* 利用平移实现水平居中 */
    cursor: pointer;

    .esg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 282px;
        padding: 13px 0;
        background-color: #2dafb7;
        border-radius: 70px;
        color: #fff;
        font-size: 24px;

        img {
            width: 40px;
            height: 43px;
            margin-right: 28px;
        }
    }
}

// 可持续发展
.sustainable {
    margin-top: 70px;
    padding: 100px;

    &.b1 {
        background-color: #f7f7f7;
    }

    &.b0,
    &.b1 {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 11px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 48px;
        line-height: 63px;
        color: #2dafb7;
    }

    .description {
        margin-top: 44px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: justify;
        color: #969696;
    }

    .button {
        margin-top: 121px;
        display: inline-block;
        padding: 14px 38px;
        background: #2dafb7;
        border-radius: 27px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
    }
}

// 新闻标题
.newsTitle1 {
    color: #103675;
    font-size: 46px;
    font-weight: 600;
    line-height: 56px;
}

.newsTitle2 {
    color: #2dafb7;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.employee {
    display: block;
    border-bottom: 1px solid #969696;
    text-decoration: none;
    user-select: none;

    &:hover {
        background: #ffffff;
        border-bottom-color: #2dafb7;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .newsTitle3 {
        padding: 20px 20px 16px;
        color: #313232;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .newsDescription3 {
        padding: 0 20px 18px;
        color: #969696;
        font-size: 16px;
        line-height: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// 全球布局
// 点位 1
.global-layout-point1 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 517px;
    top: 193px;
    background: #ffffff;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 2
.global-layout-point2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 583px;
    top: 213px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 3
.global-layout-point3 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 869px;
    top: 225px;
    background: #ffffff;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 4
.global-layout-point4 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 940px;
    top: 242px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 5
.global-layout-point5 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 856px;
    top: 287px;
    background: #ffffff;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 6
.global-layout-point6 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 834px;
    top: 324px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 7
.global-layout-point7 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 928px;
    top: 446px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 总部&分公司
.tit01 {
    font-size: 26px;
    line-height: 56px;
    color: #2dafb7;

    span {
        margin-right: 15px;
    }
}

.tit02 {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.con01 {
    color: #2dafb7;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

// 点位 8
.global-layout-point8 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 847px;
    top: 246px;
    background: #2dafb7;
    border-radius: 39px;
}

// 点位 10
.global-layout-point10 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 502px;
    top: 231px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 11
.global-layout-point11 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 511px;
    top: 202px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 12
.global-layout-point12 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 527px;
    top: 165px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 13
.global-layout-point13 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 552px;
    top: 187px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 14
.global-layout-point14 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 575px;
    top: 158px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 15
.global-layout-point15 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 645px;
    top: 227px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 16
.global-layout-point16 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 901px;
    top: 231px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 17
.global-layout-point17 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 935px;
    top: 245px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 18
.global-layout-point18 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 845px;
    top: 318px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 19
.global-layout-point19 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 822px;
    top: 339px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 点位 20
.global-layout-point20 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 835px;
    top: 362px;
    background: #2dafb7;
    border-radius: 39px;
    cursor: pointer;
}

// 全选下的点位
.gp1,
.gp2,
.gp3 {
    padding: 4px 8px !important;
    background: rgba(16, 54, 117, 0.9) !important;
    border: 1px solid #fff !important;
    border-radius: 4px !important;

    div > div {
        color: #fff !important;
        font-size: 12px !important;
        line-height: 12px !important;

        span {
            margin-right: 6px;
            font-weight: bold;
        }
    }
}

.gp2 {
    background: rgba(255, 255, 255, 0.9) !important;
    border-color: rgba(255, 255, 255, 0.9) !important;

    div > div {
        color: #103675 !important;
    }
}

.gp3 {
    background: rgba(45, 175, 183, 0.9) !important;
    border-color: rgba(45, 175, 183, 0.9) !important;
}

.glp01,
.glp02,
.glp03,
.glp04,
.glp05,
.glp06,
.glp07,
.glp08,
.glp09,
.glp10,
.glp11,
.glp12,
.glp13,
.glp14,
.glp15,
.glp16,
.glp17,
.glp18,
.glp19,
.glp20,
.glp21,
.glp22,
.glp23,
.glp24,
.glp25,
.glp26,
.glp27,
.glp28,
.glp29,
.glp30 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 502px;
    top: 233px;
    background: #fff;
    border-radius: 39px;
    cursor: pointer;
}

.glp02 {
    left: 512px;
    top: 207px;
}

.glp03 {
    left: 535px;
    top: 169px;
}

.glp04 {
    left: 550px;
    top: 180.5px;
    background: #ff3539;
}

.glp05 {
    left: 585px;
    top: 175px;
}

.glp06 {
    left: 579px;
    top: 204px;
    background: #2dafb7;
}

.glp07 {
    left: 645px;
    top: 229px;
}

.glp08 {
    left: 875px;
    top: 231px;
    background: #ff3539;
}

.glp09 {
    left: 914px;
    top: 242px;
}

.glp10 {
    left: 937px;
    top: 250px;
    background: #2dafb7;
}

.glp11 {
    left: 867px;
    top: 289px;
    background: #ff3539;
}

.glp12 {
    left: 828px;
    top: 322px;
    background: #2dafb7;
}

.glp13 {
    left: 848px;
    top: 331px;
}

.glp14 {
    left: 825px;
    top: 353px;
}

.glp15 {
    left: 835px;
    top: 362px;
}

.glp16 {
    left: 978px;
    top: 489px;
    background: #2dafb7;
}
