.ant-flex.news-section-wrapper {
    padding: 70px 50px 70px;
    background-color: var(--custom-gray-light);
    .header {
        width: 100%;
        .title {
            color: var(--custom-green);
            font-size: 30px;
        }
        .sub-title {
            color: var(--custom-green);
            font-size: 17px;
        }
        .btn-more {
            background-color: var(--custom-blue);
            width: 136px;
            height: 36px;
            color: #fff;
            border-radius: 36px;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 2px;
        }
    }

    .nav {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 85px;
        height: 27px;
        border-radius: 15px;
        color: var(--custom-blue);
        letter-spacing: 2px;
    }
    .news-item-small-box,
    .news-item-big-box {
        width: 100%;
    }
    // .news-item-small-box,
    .news-item-big-box {
        position: relative;
    }

    .news-item-big-box-content {
        position: absolute;
        bottom: 0;
        border-radius: 0 0 10px 10px;
        background-color: rgba(var(--custom-blue-rgb), 0.85);
        padding: 24px 20px;
        height: 214px;
        width: 523px;

        .date {
            font-size: 14px;
            font-weight: bold;
        }
        .content {
            font-size: 12px;
        }
        .date,
        .content {
            color: #fff;
        }

        .title {
            color: var(--custom-green);
            font-size: 18px;
            font-weight: 500;
        }

        .more {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fff;
        }

        &.bg-light {
            width: 256px;
            background-color: #fff;
            .date {
                color: var(--custom-blue);
                font-size: 12px;
            }
            .content {
                color: var(--custom-gray-light);
                font-size: 8px;
            }
            .title {
                font-size: 13px;
            }
            .more {
                background-color: var(--custom-blue);
            }
        }
    }
}
