.swiper {
    position: relative;
    margin: 0 auto;
}

.next,
.prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: -84px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    img {
        width: 20px !important;
        height: 36px !important;
        vertical-align: top !important;
    }
}

.next {
    left: auto;
    right: -84px;
}
