.bg1 {
    position: relative;
    background: url('/static/research/technology_bg1.jpg') no-repeat center / cover;
}

.technologySwiper {
    width: 465px;
}

.technologySwiperContent {
    height: 392px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(187, 229, 232, 0.32) 85.33%,
        rgba(118, 203, 208, 0.65) 98.12%,
        rgba(77, 187, 194, 0.85) 103.46%,
        #2dafb7 106.66%
    );
    border-radius: 18px;
    text-align: center;

    .t1 {
        padding-top: 80px;
        color: #103675;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
    }

    .t2 {
        padding-top: 16px;
        color: #2dafb7;
        font-size: 20px;
        line-height: 28px;
    }

    .t3 {
        padding: 30px;
        color: #969696;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
    }
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;

    .indicator {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
        cursor: pointer;

        &.active {
            opacity: 1;
            background-color: #2dafb7;
        }
    }

    .indicator:hover {
        opacity: 0.8;
    }
}
