/* 字体 */
@font-face {
    font-family: 'Roboto';
    font-stretch: 75% 100%;
    font-weight: 100 900;
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

/* 变量 */
:root:root {
}

/* styles/globals.css */
/*蓝色 #103675 #103675 rgb(16,54,117) 217.4 75.9% 26.1% */
/* 绿色 #2dafb7 #2DAFB7 rgb(45,175,183) 183.5 60.5% 44.7% */
:root {
    --custom-blue: #103675;
    --custom-green: #2dafb7;
    --custom-black: #313232;
    --custom-gray: #969696;
    --custom-gray-light: #d9d9d9;

    --custom-blue-rgb: 16, 54, 117;
    --custom-green-rgb: 45, 175, 183;
    --custom-black-rgb: 49, 50, 50;
    --custom-gray-rgb: 150, 150, 150;
    --custom-gray-light-rgb: 217, 217, 217;
}

.cursor-pointer {
    cursor: pointer;
}

/* 顶部导航区块的标题：固态电池研发与创新 */
.title-top-big {
    font-size: 52px;
    color: #fff;
}
.subtitle-top-big {
    font-size: 30px;
    color: #fff;
}
