/* 字体 */
@font-face {
    font-family: 'Roboto';
    font-stretch: 75% 100%;
    font-weight: 100 900;
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

/* 变量 */
:root:root {
}
