// 愿景
.yuanjing-wrapper {
    color: #fff;
    // background-color: #2dafb7;
    padding: 0 90px !important;
    border-right: 1px solid #fff;
    height: 100%;
    justify-content: center;
    &.no-border-right {
        border-right: none;
    }
    .title {
        font-size: 52px;
        font-weight: 500;
        line-height: 88px;
    }
    .description {
        font-size: 18px;
        line-height: 26px;
        overflow-wrap: break-word;
        word-break: break-all;
    }
}

// List
.yuangong-list-wrapper {
    .item-col {
        padding-bottom: 15px;
    }
    .link-box {
        padding-bottom: 18px;
        height: 100%;
        border-bottom: 1px solid var(--custom-gray);
        margin: 0 16px;
        &:hover {
            cursor: pointer;
            border-bottom: 1px solid var(--custom-green);
            box-shadow:
                -5px 5px 10px rgba(0, 0, 0, 0.2),
                5px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
    .title,
    .date {
        font-size: 16;
        // font-weight: 500;
        color: var(--custom-black);
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .date {
        color: var(--custom-gray);
    }
    .content-box {
        padding: 0 34px;
        width: 100%;
    }
}
// 公司介绍
.company-wrapper {
    background-color: #f9fbff;
}
// 全球布局
.quanqiumap-box {
    text-align: center;
    .title {
        color: #fff;
        font-size: 36px;
        line-height: 38px;
        font-weight: 500;
    }
    .subtitle {
        color: var(--custom-green);
        font-size: 20px;
        line-height: 28px;
    }
}

// 可持续发展
.kechixufazhan-wrapper {
    color: #fff;
    .title {
        font-size: 48px;
        font-weight: 500;
    }
    .subtitle {
        font-size: 28px;
    }
}

// 企业 ESG

.esg-btn {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%); /* 利用平移实现水平居中 */
    cursor: pointer;
    .esg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 282px;
        padding: 13px 0;
        background-color: #2dafb7;
        border-radius: 70px;
        color: #fff;
        font-size: 24px;

        img {
            width: 40px;
            height: 43px;
            margin-right: 28px;
        }
    }
}
