.header {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 70px;
    padding: 0 90px;
    z-index: 100;
    transition: all 0.5s;
}

// Logo
.logo {
    display: block;
    width: 197px;
    height: 26px;
    background: url('/static/header/logo_white.png') no-repeat center / contain;
}

// Menu
.menu {
    position: relative;

    .link {
        position: relative;
        display: block;
        padding: 22px 20px;
        color: #fff;
        font-size: 18px;
        line-height: 26px;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 6px;
            background: #103675;
            transform: translateX(-50%);
            transition: all 0.3s ease;
        }

        &:hover,
        &.active {
            color: #fff;
        }
    }

    // Submenu
    .submenu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        display: none;
        background: #ffffff;
        border-top: 1px solid #bdbdbd;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.36s;
        animation: slidedown 0.36s forwards;

        .sublink {
            position: relative;
            display: block;
            padding: 14px 16px;
            color: #7f8085;
            font-size: 16px;
            line-height: 28px;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 4px;
                background: #103675;
                transform: translateX(-50%);
                transition: all 0.3s ease;
            }

            &.active,
            &:hover {
                color: #103675;

                &::before {
                    color: #103675;
                    width: 100%;
                }
            }
        }
    }

    .link:hover + .submenu,
    .submenu:hover {
        display: block;
    }
}

// Language
.language {
    height: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;

    .icon {
        display: none;
    }

    .iconWhite {
        display: block;
    }
}

// 激活状态
.header:hover,
.headerActive {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .logo {
        background-image: url('/static/header/logo.png');
    }

    .menu {
        .link {
            color: #7f8085;

            &.active,
            &:hover {
                color: #103675;

                &::before {
                    color: #103675;
                    width: 100%;
                }
            }
        }
    }

    .language {
        color: #7f8085;

        .icon {
            display: block;
        }

        .iconWhite {
            display: none;
        }
    }
}

@keyframes slidedown {
    0% {
        height: 0;
    }

    100% {
        height: 56px;
    }
}
