.footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 34px 0 92px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) -0.37%,
        rgba(253, 254, 254, 0.01) 40.26%,
        rgba(245, 251, 252, 0.05) 54.49%,
        rgba(231, 246, 247, 0.11) 64.64%,
        rgba(212, 239, 240, 0.2) 73.79%,
        rgba(187, 229, 232, 0.32) 80.9%,
        rgba(156, 217, 221, 0.47) 87%,
        rgba(118, 203, 208, 0.65) 93.09%,
        rgba(77, 187, 194, 0.85) 98.17%,
        #2dafb7 101.22%
    );
}

.title1 {
    color: #103675;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &:hover {
        color: #2dafb7;
    }
}

.title2 {
    color: #969696;
    font-size: 14px;
    line-height: 22px;
}

.icon {
    color: #d9d9d9 !important;
    font-size: 32px;

    &:hover {
        color: #2dafb7 !important;
        cursor: pointer;
    }
}
