// 企业 ESG
.esg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
    margin: 105px auto 70px;
    padding: 21px 0;
    background-color: #2dafb7;
    border-radius: 112px;
    color: #fff;
    font-size: 45px;

    img {
        width: 66px;
        height: 70px;
    }
}

// 愿景
.yuanjing-wrapper {
    color: #fff;
    // border-right: 1px solid #fff;
    // &:last-child {
    //     border-right: none;
    // }
    .title {
        font-size: 52px;
        font-weight: 500;
        line-height: 88px;
    }
    .description {
        font-size: 18px;
        line-height: 26px;
        overflow-wrap: break-word;
        word-break: break-all;
        width: 460px;
    }
}
