.bg1 {
    position: relative;
    background: url('/static/solution/bg1.jpg') no-repeat center / cover;
}

.t1 {
    color: #103675;
    font-size: 46px;
    font-weight: 600;
    line-height: 54px;
}

.t2 {
    margin-top: 24px;
    color: #969696;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.t3 {
    margin-top: 48px;
    color: #e2e2e2;
    font-size: 104px;
    font-weight: 600;
    line-height: 112px;
    text-transform: uppercase;
    opacity: 0.8;
}
