.job-wrapper {
    margin-top: 104px;

    .title {
        font-size: 36px;
        font-weight: 500;
        color: var(--custom-black);
    }
    .jianli {
        background-image: url('/images/job/bg@2x.png');
        background-size: contain; /* 让背景图片覆盖整个元素 */
        background-position: center; /* 背景图片居中显示 */
        background-repeat: no-repeat; /* 背景图片不重复 */
    }
    .job-list-wrapper {
        .list-item-box {
            padding: 42px;
            background-color: #fff;
            /* 右侧阴影：水平偏移2px（向右），垂直偏移4px，模糊半径8px，阴影颜色为黑色且透明度0.1 */
            box-shadow:
                2px 4px 8px rgba(0, 0, 0, 0.1),
                /* 左侧阴影：水平偏移 -2px（向左），垂直偏移4px，模糊半径8px，阴影颜色为黑色且透明度0.1 */ -2px 4px 8px
                    rgba(0, 0, 0, 0.1),
                /* 底部阴影：水平偏移0px，垂直偏移8px，模糊半径16px，阴影颜色为黑色且透明度0.2，实现底部阴影更重效果 */
                    0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .job-title2,
        .job-title {
            font-size: 20px;
            font-weight: 500;
            color: var(--custom-blue);
        }
        .job-title2 {
            font-size: 16px;
        }
        .subtitle {
            font-size: 12px;
            color: var(--custom-gray);
            padding-bottom: 22px;
            border-bottom: 1px solid var(--custom-green);
        }
        .list-item-content-box {
            .content {
                font-size: 12px;
                line-height: 20px;
                color: var(--custom-gray);
            }
        }
    }
}
.input-box {
    width: 100%;

    .customInput {
        ::placeholder {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 8px; // 可以根据需求调整文字间距
        }
    }

    .enter-button {
        font-size: 25px;
        letter-spacing: 10px;
        color: #fff;
        font-weight: normal;
        padding: 0 68px;
    }
}

// 菜单
.menu-wrapper {
    color: var(--custom-black);
    font-size: 20px;
    line-height: 28px;

    .active {
        color: #fff;
        background-color: var(--custom-green);
    }
    .menu-item {
        cursor: pointer;
        padding: 12px 34px;
        border-radius: 50px;
    }
}

// 弹窗
.modal-wrapper {
    p {
        margin: 0;
    }
    .title {
        font-size: 32px;
        font-weight: 500;
        color: var(--custom-blue);
    }
    .label {
        font-size: 18px;
        color: var(--custom-green);
    }
    .label-content {
        font-size: 16px;
        color: var(--custom-gray);
        word-break: break-all;
    }
    .email-box {
        font-weight: 500;
        margin-top: 28px;
        .label {
            padding-top: 16px;
            border-top: 1px solid var(--custom-green);
        }
    }
}
